.slider {
  margin: 0 auto;
  margin-left: 22%;
  overflow: hidden;
  width: 800px;
  height: 400px;
  margin-bottom: 60px;
}

.slider-title {
  text-align: center;
  margin-bottom: 25px;
  font-style: 2.5rem;
  color: var(--black-950);
  letter-spacing: 0.975px;
  font-weight: 500;
}

.slides {
  display: flex;
  width: 400%;
  height: 400px;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 75rem;
  object-fit: cover;
  border-radius: 8px;
}

.slides input {
  display: none;
}

.manual-nav {
  width: 800px;
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: -60px;
  position: absolute;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}
