@media screen and (max-width: 768px) {
  html {
    image-rendering: optimizeSpeed;
  }

  .navbar-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-title {
    margin-bottom: 1.3rem;
  }

  .navbar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-items a {
    padding: 7px;
  }
}
