@import "./media-queries.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-950: #020617;
  --black-900: #000000;
  --gray-500: #64748b;
  --white-200: #e2e8f0;
  --white-500: #f5f5f5;
  --mainSize-components: 75rem;
  --padding-pattern: 40px 20px;
}

html {
  text-rendering: optimizeSpeed;
  image-rendering: optimizeQuality;
  font-size: 93.7%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Fira Sans, Arial, sans-serif;
  color: var(--black-950);
}

.main-header {
  padding: var(--padding-pattern);
  width: min(90vw, var(--mainSize-components));
  height: 60px;
  margin: 0 auto;
}

.navbar-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title {
  font-size: 2rem;
  font-weight: 600;
}

.navbar-items {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 20px;
  display: inline-flex;
  align-items: center;
  list-style: none;
}

.navbar-items a {
  display: block;
  padding: 10px 20px;
  color: var(--black-950);
  text-decoration: none;
}

.navbar-items a:hover {
  text-decoration: solid underline var(--black-950) 4px;
  transition: all ease-in-out 0.8s;
}

.hero-component {
  max-width: var(--mainSize-components);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  padding: var(--padding-pattern);
}

.hero-component img {
  width: 360px;
  height: 520px;
  object-fit: cover;
  border-radius: 4px;
}

.intro-title {
  font-size: 4.7rem;
  line-height: 81px;
}

.introduction-info p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: var(--gray-500);
}

.experience-component {
  width: var(--mainSize-components);
  padding: var(--padding-pattern);
  margin: 0 auto;
  display: grid;
  gap: 180px;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.experience-component h2 {
  color: #e0e0e0;
  font-size: 8.5rem;
}

.experience-details {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 60px;
  color: var(--gray-500);
  max-width: 80ch;
}

#highlight {
  text-rendering: optimizeLegibility;
  letter-spacing: 0.54px;
  color: var(--black-950);
}

.jobs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: var(--white-500);
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}

.jobs::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: rgb(115, 29, 216);
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: -4px;
}

.job-year {
  position: absolute;
  top: 20px;
  left: -100px;
  font-weight: 400;
  font-size: 0.97rem;
}

.title-card {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 25px;
}

.card-text {
  margin-top: 17px;
  font-size: 0.976rem;
  font-weight: 400;
  line-height: 18px;
}

.list-skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.list-skills-item {
  font-size: 0.976rem;
  font-weight: 400;
  line-height: 25px;
  border-radius: 4px;
  background: var(--white-500);
  padding: 10px;
}

.education-component {
  max-width: (100vw, 200px);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  padding: 120px 20px;
  background-color: #141414;
}

.education-component h2 {
  margin-left: 68px;
  color: var(--black-900);
  font-size: 8.5rem;
  max-width: 5ch;
}

.education-component p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--white-200);
  margin-bottom: 60px;
}

.card-component {
  display: flex;
  gap: 40px;
}

.card {
  list-style: none;
  background-color: var(--black-900);
  padding: 1.5rem;
  max-width: 204px;
  flex: 1;
  max-height: 190px;
  border-radius: 4px;
  position: relative;
}

.card::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: rgb(115, 29, 216);
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: -4px;
}

.card span {
  font-size: 1.2rem;
  font-weight: 400;
  color: #a3a3a3;
}

.card h3 {
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
}

.skills {
  color: var(--white-500);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.refactor {
  margin-top: 50px;
  width: var(--mainSize-components);
  color: var(--white-500);
}

.refactor span {
  display: flex;
  gap: 20px;
  place-items: center;
}

.refactor span h4 {
  font-size: 0.875rem;
  font-weight: 700;
}

.courses {
  margin-bottom: 1.2rem;
}

.courses ul {
  padding: 20px 0px;
  list-style: none;
}

.courses ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45rem;
  font-weight: 400;
  font-size: 0.998rem;
  /* border: 10px solid red; */
}

.courses ul li span {
  color: #a3a3a3;
}

.language ul {
  padding: 20px 0px;
  list-style-type: none;
}

.language ul li {
  display: flex;
  gap: 30px;
  width: 45rem;
  font-weight: 400;
  font-size: 0.998rem;
}

.language ul li span {
  color: #a3a3a3;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  align-items: center;
  color: var(--white-500);
  width: min-content(100vw, var(--mainSize-components));
  height: 100vh;
  padding: 0px 80px;
  background-color: #000000;
}

.contact-me {
  display: flex;
  flex-direction: column;
  margin-top: -12rem;
}

.contact-me p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 80px;
}

.contact-me span {
  color: gray;
}

.info-contact {
  margin: 0 auto;
  margin-top: -12rem;
}

.info-contact ul li {
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  list-style: none;
}

.info-contact ul li:nth-child(2) {
  margin: 25px 0px;
}
